<!DOCTYPE html>
{% extends 'plan_app/base.html' %}

{% block content %}
<div class="jumbotron black-text">
  <h1>Please LogIn</h1>
  <form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    <label for="username"></label>
    <input type="text" name="username" value="" placeholder="Enter your Name">
    <p></p>
    <label for="password"></label>
    <input type="password" name="password" value="">
    <p></p>
    <input class="btn btn-primary" type="submit" name="" value="LogIn">
  </form>
</div>
{% endblock %}
